#editor-wrapper.editor-wrapper(resizable r-directions="['left']"
r-grabber='<div><span></div></span>' device-detector)
  collab-debug-launcher(ng-click='onClick()')
  #toolbar.toolbar
    span.ql-format-group
      select.ql-font(title='Font')
        option(value='sans-serif', selected='') Sans Serif
        option(value='serif') Serif
        option(value='monospace') Monospace
       select.ql-size(title='Size')
         option(value='10px') Small
         option(value='13px', selected='') Normal
         option(value='18px') Large
         option(value='32px') Huge
    span.ql-format-group
      span.ql-format-button.ql-bold(title='Bold')
      span.ql-format-separator
      span.ql-format-button.ql-italic(title='Italic')
      span.ql-format-separator
      span.ql-format-button.ql-underline(title='Underline')
      span.ql-format-separator
      span.ql-format-button.ql-strike(title='Strikethrough')
    span.ql-format-group
      select.ql-color(title='Text Color')
        option(ng-repeat="color in colors" value="{{color}}"
          label="{{color}}" selected="{{color.selected}}")
      span.ql-format-separator
      select.ql-background(title='Background Color')
        option(ng-repeat="color in colors" value="{{color}}"
          label="{{color}}" selected="{{color.selected}}")
      span.ql-format-group
        span.ql-format-button.ql-list(title='List')
        span.ql-format-separator
        span.ql-format-button.ql-bullet(title='Bullet')
        span.ql-format-separator
        select.ql-align(title='Text Alignment')
          option(value='left', label='Left', selected='')
          option(value='center', label='Center')
          option(value='right', label='Right')
    span.ql-format-group
      span.ql-format-button.ql-link(title='Link')
    span.ql-format-group(live-conference-editor-controller)
      span.dropdown.ql-format-button
        a.dropdown-toggle(data-toggle='dropdown' href='#')
          i.fa.fa-floppy-o
        ul.dropdown-menu(export-facility role='menu' aria-labelledby='dLabel')
          li(ng-repeat='saver in savers')
            a(href="#" ng-click='saver.export()')
              i.fa(ng-class='saver.other.faClass')
              |  {{saver.name}}
    span.ql-format-button.editor-close-button(ng-click="toggleEditor()")
      i.fa.fa-times
  #editor.editor(editor-click-handler)
